<div class="registerMain">
    <div class="card">
        <div class="card-header text-center">
            Bienvenido
        </div>
        <div class="card-body">
            <h5 class="card-title text-center">Has parte de nuestro sistema</h5>
            <p class="card-text text-center">Llena el siguiente formulario para participar de nuestro sistema de votaciones</p>
        </div>

        <%= form_for :votant, :method => "post",:url => { :action => :register }, :html => {:class => 'container text-center'} do |f| %>
            <div class="alert alert-warning <%= @state == "exist" ? "display" : "hidden" %>" role="alert">
                Votante ya existe
            </div>
            <div class="alert alert-danger <%= @state == "notExist" ? "display" : "hidden" %>" role="alert">
                Punto de votacion no existe
            </div>
            <p class="form-group">
                <%= f.text_field :name, placeholder: 'Nombre', class: 'form-control text-center' %>
            </p>
            <p class="form-group">
                <%= f.text_field :last_name, placeholder: 'Apellido', class: 'form-control text-center' %>
            </p>
            <p class="form-group">
                <%= f.text_field :cc, placeholder: 'CC', class: 'form-control text-center' %>
            </p>
            <p class="form-group">
                <%= f.text_field :city, placeholder: 'Ciudad', class: 'form-control text-center' %>
            </p>
            <p class="form-group">
                <%= f.text_field :department, placeholder: 'Departamento', class: 'form-control text-center' %>
            </p>
            <p class="form-group">
                <%= f.select "voting_point", options_for_select(@voting_points_names), class: 'form-control text-center' %>
            </p>
            <p>
                <%= f.submit "Registrar", class: 'btn btn-secondary text-center' %>
            </p>
        <% end %>
    </div>
</div>