<div class="candidateMain">
    <div class="card">
        <div class="card-header text-center">
            Welcome candidate
        </div>
        <div class="card-body">
            <h5 class="card-title text-center">Edit your info</h5>
            <p class="card-text text-center">Fill the form to edit yourself in our voting system as a candidate.</p>
        </div>

        <%= form_for :candidate, :method => "post",:url => { :action => :edit_candidate }, :html => {:class => 'container text-center'} do |f| %>
            <p class="form-group">
                <%= f.text_field :name, placeholder: 'Name', class: 'form-control text-center' %>
            </p>
            <p class="form-group">
                <%= f.text_field :last_name, placeholder: 'Last Name', class: 'form-control text-center' %>
            </p>
            <p class="form-group">
                <%= f.text_field :cc, placeholder: 'CC', class: 'form-control text-center' %>
            </p>
            <p class="form-group">
                <%= f.text_area :cv, placeholder: 'Curriculum vitae description', class: 'form-control text-center' %>
            </p>
            <p class="form-group">
                <%= f.text_field :city, placeholder: 'City', class: 'form-control text-center' %>
            </p>
            <p class="form-group">
                <%= f.text_field :department, placeholder: 'Department', class: 'form-control text-center' %>
            </p>
            <p class="form-group">
                <%= f.label "Position", nil, class: '' %><br>
                <%= f.select "position", options_for_select(@opts), class: 'form-control text-center' %>
            </p>
            <p class="form-group">
                <%= f.label "Party", nil, class: '' %><br>
                <%= f.select "politic_party_id", options_for_select(@parties_names), class: 'form-control text-center' %>
            </p>
            <p>
                <%= f.submit "Edit Candidate", class: 'btn btn-secondary text-center' %>
            </p>
        <% end %>
    </div>
</div>