<div class="candidateMain">
    <div class="card">
        <div class="card-header text-center">
            Welcome future candidate
        </div>
        <div class="card-body">
            <h5 class="card-title text-center">Become part of our system</h5>
            <p class="card-text text-center">Fill the form to register yourself in our voting system as a candidate and be able to compete for the position.</p>
        </div>

        <%= form_for :candidate, :method => "post",:url => { :action => :register }, :html => {:class => 'container text-center'} do |f| %>
            <div class="alert alert-warning <%= @state == "exist" ? "display" : "hidden" %>" role="alert">
                Candidate already exist
            </div>
            <div class="alert alert-danger <%= @state == "PoliticPartyDontExist" ? "display" : "hidden" %>" role="alert">
                Politic party dont exist
            </div>
            <p class="form-group">
                <%= f.text_field :name, placeholder: 'Name', class: 'form-control text-center' %>
            </p>
            <p class="form-group">
                <%= f.text_field :last_name, placeholder: 'Last Name', class: 'form-control text-center' %>
            </p>
            <p class="form-group">
                <%= f.text_field :cc, placeholder: 'CC', class: 'form-control text-center' %>
            </p>
            <p class="form-group">
                <%= f.text_area :cv, placeholder: 'Curriculum vitae description', class: 'form-control text-center' %>
            </p>
            <p class="form-group">
                <%= f.text_field :city, placeholder: 'City', class: 'form-control text-center' %>
            </p>
            <p class="form-group">
                <%= f.text_field :department, placeholder: 'Department', class: 'form-control text-center' %>
            </p>
            <p class="form-group">
                <%= f.label "Position", nil, class: '' %><br>
                <%= f.select "position", options_for_select(["Choose a position", "Alcaldia", "Gobernación" ]), class: 'form-control text-center' %>
            </p>
            <p class="form-group">
                <%= f.label "Party", nil, class: '' %><br>
                <%= f.select "party", options_for_select(@parties_names), class: 'form-control text-center' %>
            </p>
            <p class="form-group">
                <%= f.label "Picture", nil, class: '' %><br>
                <%= f.file_field :picture, placeholder: 'Picture', class: 'form-control text-center' %>
            </p>
            <p class="form-group">
                <%= f.label "Gov plan", nil, class: '' %><br>
                <%= f.file_field :gov_plan, placeholder: 'Gov Plan', class: 'form-control text-center' %>
            </p>
            <p>
                <%= f.submit "Register Candidate", class: 'btn btn-secondary text-center' %>
            </p>
        <% end %>
    </div>
</div>