<div id="statisticBox" class="container p-3 ">
    <%= flash["filtValue"] %>
    <select id="select1">
        <% @voting_points_names.each do |v| %>
            <option value="<%=v%>"> <%=v%> </option>
        <% end %>
    </select>
    <div class="btn btn-primary selectbtn" onclick="filterVotingPoint2()">Mostrar por punto de votación</div>
    <div class="p-2">
        <div class="h4 text-center">Alcaldia <%= @countA %> votos</div>
        <div class="row"> 
            <% @orderA.each do |c| %>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <%= image_tag(c[0].picture, class: "img-fluid img-thumbnail p-1 rounded") %>
                        <div class="card-body">
                            <h5 class="card-title"><%= c[0][:name] %> <%= c[0][:last_name] %></h5>
                            <p class="card-text"><%= c[0][:cv] %></p>
                            <p class="card-text">Numero de votos: <%= c[1] %></p>
                            <p class="card-text">Porcentaje de votos: <%= (c[1].to_f/@countA) * 100  %>%</p>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    <div class="p-2">
        <div class="h4 text-center">Gobernación <%= @countG %> votos</div>
        <div class="row"> 
            <% @orderG.each do |c| %>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <%= image_tag(c[0].picture, class: "img-fluid img-thumbnail p-1 rounded") %>
                        <div class="card-body">
                            <h5 class="card-title"><%= c[0][:name] %> <%= c[0][:last_name] %></h5>
                            <p class="card-text"><%= c[0][:cv] %></p>
                            <p class="card-text">Numero de votos: <%= c[1] %></p>
                            <p class="card-text">Porcentaje de votos: <%= (c[1].to_f/@countG) * 100  %>%</p>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

<script> 
    const filterVotingPoint2 = ()=>{
        if ($("#select1")[0].value != "Escoge un punto de votación") {
            $.post("startfilt",{value: $("#select1")[0].value});
        } else {
            console.log("no filtra");
        }
    }
    $(document).ready(function () {
		$("#statisticBox").fadeIn(650);
	});
</script>